.avatar img {
    border-radius: 16px;
    max-width: 250px;
}

.avatarButton {
    position: relative;
    bottom: 40px;
    left: 210px;
    color: dimgray;
    background-color: gainsboro;
}

.avatarButton:hover {
    color: dimgray;
    background-color: darkgrey;
    border: transparent;
}

.input {
    position: absolute;
}

@media (max-width: 687px){

    .avatar img {
        border-radius: 50%;
        max-width: 6em;
    }
    .avatarButton {
        bottom: 30px;
        left: -5px;
    }
    .badge {
        display: none;
    }
}