.avatar img {
    border-radius: 9%;
    max-width: 100%;
}

.avatar button {
    position: absolute;
    bottom: 0;
    left: 0;
    color: dimgray;
    background-color: gainsboro;
}

.avatarButton:hover {
    color: dimgray;
    background-color: darkgrey;
    border: transparent;
}

.input {
    position: absolute;
}

@media (max-width: 687px){

    .avatar img {
        border-radius: 50%;
        max-width: 6em;
    }
    .avatarButton {
        bottom: 30px;
        left: -5px;
    }
    .badge {
        display: none;
    }
}