.avatar{
    display: grid;
    grid-gap: 16px;
    justify-content: center;
    align-content: start;
    color: transparent;
}

.avatar img {
    border-radius: 16px;
    max-width: 250px;
}

.avatarButton {
    position: relative;
    bottom: 52px;
    left: 214px;
    color: dimgray;
    background-color: gainsboro;
}

.avatarButton:hover {
    color: dimgray;
    background-color: darkgrey;
    border: transparent;
}

@media (max-width: 414px){
    .avatar img {
        border-radius: 50%;
        max-width: 5em;
    }
    .avatarButton {
        bottom: 30px;
        left: -5px;
    }
    .badge {
        display: none;
    }
}