.friends {
    grid-area: friendsBlock;
    margin-right: 40px;
}

.friend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
}

.title {
    font-size: small;
    margin-top: 20px;
    color: gray;
}

.avatar {
    max-width: 40px;
    border-radius: 40px;
}