.friendsBlock {
    grid-area: friendsBlock;
    padding: 25px;
}

.friendsBlock h3 {
    color: darkgrey;
}

.friends {
    display: grid;
    gap: 16px;
}

.friend {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 16px;
    align-items: center;
}

.friend img {
    width: 40px;
    border-radius: 40px;
}