.friendsBlock {
    grid-area: friends;
    height: 366px;
}

@media (max-width: 687px) {
    .friendsBlock {
        display: none;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.title h3 {
    font-weight: bold;
    color: #475156;
}

.title h4 {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
}

.title h4:hover {
    color: rgba(29, 111, 195, 1);
    font-weight: bold;
}

.friends {
    display: grid;
    gap: 10px;
}

.friend {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    align-items: center;
    font-size: small;
}

.friend h4:hover {
    color: rgba(29, 111, 195, 1);
    font-weight: bold;
}

.friend img {
    width: 40px;
    border-radius: 40px;
}

.noFriendsMessage {
    margin-top: 65px;
    display: grid;
    justify-items: center;
}

.noFriendsMessage h4 {
    color: rgba(0, 0, 0, 0.45);
    font-weight: lighter;
    text-align: center;
}
