.friendsBlock {
    grid-area: friendsBlock;
    background-color: white;
    border-radius: 7px;
    margin-right: 40px;
    margin-bottom: 16px;
    padding: 20px;
    color: #475156;
}



.friendsItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
}