.newPost {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "textarea button";
}

.textarea {
    grid-area: textarea;
    width: 300px;
}

.button {
    grid-area: button;
    justify-self: end;
}