.myInput {
        border-radius: 10px;
        border: transparent solid 1px;
        width: 100%;
        height: 50px;
        resize: none;
        padding-left: 16px;
        font-size: small;
        background: #F9F9F9;
        opacity: 90%;
    }