.profileDataForm {
    display: grid;
    gap: 5px;
}

.profileDataForm h3 {
    color: #475156;
    font-weight: bold;
    text-align: center;
}

.profileDataForm input {
    width: 90%;
    height: 30px;
    border-radius: 8px;
    border-color: transparent;
    background: #F9F9F9;
    padding-left: 8px;
    font-size: small;
}

.profileDataForm label {
    display: grid;
    color: orangered;
    font-size: small;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 16px;
    margin-top: 16px;
}