.profile {
    display:grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 1em;
}

.posts {
    display: grid;
    margin-bottom: 20px;
}

@media (max-width: 687px) {
.profile {
    width: 100vw;
}
}