.Header{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo searcher";
}

.logo{
    grid-area: logo;
    margin: 15px;
}

.logo img{
    width: 100px;
}

.searcher{
    grid-area: searcher;
    margin: auto;
}
