.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo searcher";
    grid-area: header;
    background-color: linen;
}

.logo {
    grid-area: logo;
    margin: 15px auto 15px 25px;
}

@media (max-width: 360px) {
    .logo {
        margin: 5px;
    }
}

.logo img {
    width: 100px;
}

.searcher {
    grid-area: searcher;
    margin: auto;
}
