.users {
    grid-area: friendsBlock;
    background-color: white;
    border-radius: 7px;
    margin-right: 40px;
    margin-bottom: 13px;
    padding: 20px;
    color: #475156;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
}

.title {
    font-size: small;
    margin-top: 20px;
    color: gray;
}

.avatar {
    max-width: 40px;
    border-radius: 40px;
}

.pageNumbers {
    display: grid;
    grid-template-columns: repeat(20, auto);
}

.selectedPage {
    font-weight: bold;
}