.chatMessages {
    height: 400px;
    overflow: auto;
    border: solid 1px gainsboro;
    border-radius: 5px;
}

.chatMessage {
    padding: 1em 2em;
    display: grid;
    grid-gap: 0 2em;
    align-items: center;
    justify-items: start;
    grid-template-columns: 6em 1fr;

}

.chatMessage a {
    display: grid;
    color: rgba(0, 0, 0, 0.45);
    font-size: small;
    justify-self: center;
    justify-items: center;
}

.message{
    color: #475156;
}

.chatMessage img {
    width: 4em;
    border-radius: 50%;
}

@media (max-width: 414px) {
    .chatMessages {
        padding: 0;
    }
    .chatMessage {
        padding: 1em;
        grid-gap: 0 1em;
    }
}