.chatMessages {
    height: 400px;
    overflow: auto;
    border: solid 1px gainsboro;
    border-radius: 5px;
}

.chatMessage {
    padding: 1em 2em;
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}

.chatMessage a {
    display: grid;
    color: rgba(0, 0, 0, 0.45);
    font-size: small;
    justify-items: center;
}

.message{
    color: #475156;
}

.chatMessage img {
    width: 40px;
    border-radius: 50%;
}

@media (max-width: 414px) {
    .chatMessages {
        padding: 0;
    }
    .chatMessage {
        padding: 1em;
    }
}