.userPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 10px 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
}

.user{
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    grid-area: avatar;
    max-width: 60px;
    border-radius: 40px;
}

.name {
    grid-area: name;
    color: dimgray;
    text-decoration: none;
}

