.userPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 3em;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
}

@media (max-width: 414px) {
    .userPage {
        margin: 1em 0;
    }
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    grid-area: avatar;
    max-width: 50px;
    border-radius: 40px;
}

.name {
    grid-area: name;
    font-size: small;
    text-decoration: none;
}

.name:hover {
    color: rgba(29,111,195,1);
    font-weight: bold;
}

