.newPost {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0 30px;
    align-items: center;
    grid-template-areas:
    "textarea button"
    "warning warning";
}

.textarea {
    grid-area: textarea;
    width: 300px;
}

.button {
    grid-area: button;
    justify-self: end;
}

.warning {
    grid-area: warning;
    justify-self: left;
    color: orangered;
    font-weight: bold;
}