.myButton {
        border-radius: 19px;
        font-family: "DM Sans", sans-serif;
        font-weight: bold;
        font-size: 13px;
        padding: 8px 13px 8px 13px;
        text-decoration: none;
        width: 85px;
        height: 38px;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        border: solid 1px #FFA000;
        color: #FFA000;
}

.myButton:hover {
        background: rgba(255,158,0,0.13);
        text-decoration: none;
        outline: none;
        border: solid 2px #FFA000;
    }

.myButton:disabled {
        opacity: 0.4;
}

@media (max-width: 687px) {
        .myButton {
                width: 77px;
                font-size: 12px;
                height: 36px;

        }
}
