.navMenu {
    display: none;
}

@media (max-width: 1023px){
    .navMenu {
        padding: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 100vw;
        height: 8vh;
    }
    .link {
        display: grid;
        color: #475156;
    }
    .activeLink {
        display: grid;
        font-weight: bold;
        color: rgba(29, 111, 195, 1);
    }
}