.profileData {
    grid-area: data;
}

.profileData h4 {
    color: rgba(0, 0, 0, 0.45);
    margin-bottom: 0;
    margin-top: 7px;
}

.contacts {
    margin-top: 7px;
}

.contacts a {
    display: inline-block;
    margin: 0 0 5px 0;
}

@media (max-width: 687px) {
    .contacts {
        margin: 1em 0;
    }
}
