.navbar {
    grid-area: navbar;
    background-color: white;
    margin-left: 40px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

@media (max-width: 360px) {
    .navbar {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.link {
    color: lightgray;
    text-decoration: none;
}

.activeLink {
    color: gray;
    text-decoration: none;
}

.friends {
    color: gray;
}