.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo searcher .";
    grid-area: header;
    background-color: transparent;
}

.logo {
    grid-area: logo;
    margin: 15px auto 15px 45px;
}

.logo img {
    width: 125px;
}

.searcher {
    grid-area: searcher;
    margin: auto 13px auto auto;
}

.input {
    border-radius: 10px;
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
    padding-left: 25px;
    font-size: small;
    opacity: 90%;
    /*background-image: url("../../images/loupe.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 20px;*/
    /*background-position: left;*/
    /*background-position-x: left;*/

}

@media (max-width: 360px) {
    .logo {
        margin: 5px;
    }
}
