.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-size: small;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo img {
    width: 125px;
}

.loginArea {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 10px;
    cursor: pointer;
}

.avatar {
    max-width: 40px;
    border-radius: 40px;
}

.loginIcon {
    width: 20px;
}


@media (max-width: 414px) {
    .logo img {
        width: 11em;
    }

}