.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo searcher login";
    grid-area: header;
    background-color: transparent;
}

.logo {
    grid-area: logo;
    margin: 15px auto 15px 45px;
}

.logo img {
    width: 125px;
}

.searcher {
    grid-area: searcher;
    margin: auto 13px auto auto;
}

.input {
    border-radius: 10px;
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
    padding-left: 25px;
    font-size: small;
    opacity: 90%;
}

.login {
    grid-area: login;
    align-self: center;
    justify-self: end;
    margin-right: 50px;
}

.login a {
    color: white;
    text-decoration: none;
}

.loginArea {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

.loginIcon {
    width: 20px;
}

@media (max-width: 360px) {
    .logo {
        margin: 5px;
    }
}
