.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo searcher loginArea";
    grid-area: header;
    background-color: transparent;
}

.logo {
    grid-area: logo;
    margin: 15px auto 15px 45px;
}

.logo img {
    width: 125px;
}

.searcher {
    grid-area: searcher;
    margin: auto 13px auto auto;
}

.loginArea {
    grid-area: loginArea;
    align-self: center;
    justify-self: end;
    margin-right: 50px;
}

.loginArea a {
    color: white;
    text-decoration: none;
}

.loginArea {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

.loginIcon {
    width: 20px;
}

.login {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

@media (max-width: 360px) {
    .logo {
        margin: 5px;
    }
}
