.navbar {
    grid-area: nav;
    margin-left: 45px;
    display: grid;
    grid-template-rows: repeat(100, auto);
}

@media (max-width: 414px) {
    .navbar {
        display: none;
    }
}

.link {
    color: #fafeff;
    text-decoration: none;
}

.link:hover, .activeLink:hover {
    color: #FFA000;
    font-weight: bold;
}

.activeLink {
    color: #fafeff;
    font-weight: bold;
}

