.navbar {
    grid-area: navbar;
    padding: 25px 25px 10px 65px;
    border-radius: 7px;
}

@media (max-width: 360px) {
    .navbar {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.link {
    color: #fafeff;
    text-decoration: none;
}

.activeLink {
    color: #fafeff;
    text-decoration: none;
}