.navbar {
    grid-area: navbar;
    padding: 13px 25px 10px 50px;
}

.link {
    color: #fafeff;
    text-decoration: none;
}

.link:hover {
    color: #FFA000;
}

.activeLink {
    color: #fafeff;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 360px) {
    .navbar {
        margin-left: 10px;
        margin-right: 10px;
    }
}