.message {
    margin-left: 20px;
    margin-bottom: 10px;
}

.message a {
    font-size: small;
}

.message a:hover {
    color: rgba(29,111,195,1);
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 5px;
    color: darkgrey;
    font-size: small;
}

.action {
    cursor: pointer;
}