.profileInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    grid-template-areas:
    "avatar about"
}

.avatar {
    grid-area: avatar;
}

.about {
    grid-area: about;
}

.avatar img {
    max-width: 100%;
    height: auto;
}