.profileInfo {
    color: #475156;
    height: 310px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0 25px;
    grid-template-areas:
            "avatar data";
}

.profileData {
    grid-area: data;
}

.avatar {
    grid-area: avatar;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    animation-duration: 300ms;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modalWindow {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    background: white;
    position: relative;
    margin: 0 20px;
    max-height: calc(100vh - 40px);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}