.profileInfo {
    color: #475156;
    min-height: auto;
    display: grid;
    grid-gap: 0 2em;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
"avatar nickName edit"
"avatar status status"
"avatar data data";
}

.avatar {
    grid-area: avatar;
}

h1 {
    grid-area: nickName;
    color: #475156;
    font-weight: bold;
    font-size: 140%;
    margin-bottom: 0;
    align-self: center;
}

.edit {
    grid-area: edit;
    cursor: pointer;
    width: 30px;
    color: rgba(0, 0, 0, 0.45);
    align-self: center;
    background-color: transparent;
    justify-self: end;
    border: transparent;
}

.edit:hover {
    color: rgba(29, 111, 195, 1);
    font-weight: bold;
}

.status {
    grid-area: status;
}

.profileData {
    grid-area: data;
}

.openToWork {
    display: none;
}

@media (max-width: 687px) {
    .profileInfo {
        height: auto;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
"avatar openToWork openToWork"
"avatar nickName nickName"
"avatar status status"
"edit edit edit"
"data data data";
    }

    .edit {
        color: rgba(29, 111, 195, 1);
        justify-self: center;
        width: 100%;
        font-weight: bold;
        align-self: center;
        background-color: transparent;
        border-radius: 19px;
        margin-top: 1em;
        height: 30px;
        cursor: pointer;
        border: solid 1px rgba(29, 111, 195, 1);
    }

    .status {
        margin: 0;
    }

    h1 {
        align-self: center;
    }

    .openToWork {
        grid-area: openToWork;
        display: flex;
        grid-gap: 3px;
        align-items: center;
        justify-self: right;
        font-weight: lighter;
        font-size: 85%;
        color: rgba(37, 160, 30, 0.84);
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    animation-duration: 300ms;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modalWindow {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    background: white;
    position: relative;
    margin: 0 20px;
    max-height: calc(100vh - 40px);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

@media (max-width: 687px) {
    .modalWindow {
        margin: 2vw;
    }
}