.profileInfo {
    color: darkgrey;
    display: grid;
    grid-template-columns: auto 1fr;
    /*grid-template-rows: auto auto auto auto 1fr;*/
    grid-gap: 0 25px;
    grid-template-areas:
            "avatar data";
}

.profileData {
    grid-area: data;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto 1fr;
    align-items: start;
    grid-template-areas:
            "nickName edit"
            "status status"
            "jobDescription jobDescription"
            "aboutMe aboutMe"
            "contacts contacts";
}

.avatar {
    grid-area: avatar;
    display: grid;
    grid-gap: 16px;
    justify-content: center;
    align-content: start;
    color: transparent;
}

.avatar img {
    border-radius: 16px;
    max-width: 250px;
}

.nickName {
    grid-area: nickName;
    color: dimgray;
    font-weight: bold;
    margin-bottom: 0;
    align-self: center;
}

.edit {
    grid-area: edit;
    font-size: medium;
    text-decoration: underline;
    cursor: pointer;
    width: 30px;
    align-self: center;
}

.edit:hover {
    cursor: pointer;
    color: rgba(29,111,195,1);
}

.status {
    grid-area: status;
    margin-top: -8px;
    margin-bottom: 8px;
    align-self: center;
    font-size: small;
    font-weight: lighter;
    color: dimgray;
}

.jobDescription {
    grid-area: jobDescription;
}

.aboutMe {
    grid-area: aboutMe;
}

.profileInfo h4 {
    color: dimgray;
    font-weight: bold;
    margin-bottom: 0;
}

.contacts {
    /*display: grid;*/
    /*align-items: start;*/
    margin: 16px 0 16px 0;
}

.contacts a {
    display: inline-block;
    margin: 0 0 5px 0;
}
