.profileInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "avatar nickName"
    "avatar aboutMe"
    "avatar job";
}

.avatar {
    grid-area: avatar;
}

.nickName {
    grid-area: nickName;
}

.aboutMe {
    grid-area: aboutMe;
    margin-top: 0px;
}

.job {
    grid-area: job;
}

.avatar img {
    max-width: 80%;
    height: auto;
    border-radius: 7px;
}