.profileInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto 1fr;
    grid-gap: 0 16px;
    grid-template-areas:
            "avatar nickName"
            "avatar status"
            "avatar jobDescription"
            "avatar aboutMe";
    height: 100vh;
}

.avatar {
    grid-area: avatar;
    display: grid;
    grid-gap: 16px;
    justify-content: center;
    align-content: start;
    color: transparent;
}

.avatar img {
    border-radius: 16px;
    max-width: 250px;
}

.nickName {
    grid-area: nickName;
    color: dimgray;
    font-weight: bold;
    margin-bottom: 0;
}

.status {
    grid-area: status;
    margin-top: -8px;
    margin-bottom: 8px;
    align-self: center;
    font-size: small;
    font-weight: lighter;
}

.jobDescription {
    grid-area: jobDescription;
}

.aboutMe {
    grid-area: aboutMe;
}

.profileInfo h4 {
    color: darkgrey;
    font-weight: bold;
    font-size: small;
    margin-bottom: 0;
}

.contacts {
    margin: 16px 0 16px 0;
}

.contacts a {
    display: inline-block;
    margin: 0 0 5px 0;
}
