.dialog {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 1em;
}

.link {
    text-decoration: none;
    color: #475156;
    font-weight: bold;
}

.link:hover {
    color: #FFA000;
    font-weight: bold;
}

.activeLink {
    text-decoration: none;
    color: rgba(29, 111, 195, 1);
    font-weight: bold;
}

p {
    font-style: italic;
}