.message {
    margin-left: 20px;
    margin-bottom: 10px;
}

.message a {
    font-size: small;
}

.actions {
    display: flex;
    gap: 5px;
    color: darkgrey;
    font-size: small;
}

.action {
    cursor: pointer;
}