.login {
    padding: 4em 2em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            ". capture ."
            ". block .";
    gap: 1em 0;
}

.login h1 {
    grid-area: capture;
}

.block {
    grid-area: block;
}

@media (max-width: 414px) {
    .login {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        grid-template-areas:
            "capture"
            "block";
        gap: 2em 0;
    }
}