.login {
    padding: 40px 0px 40px 0px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 16px;
    grid-template-areas:
            ". capture ."
            ". block .";
}

.capture {
    padding-left: 40px;
    grid-area: capture;
}

.block {
    grid-area: block;
    padding: 20px;
}