.paginationPage {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationPage button {
    color: #475156;
    font-size: small;
}

@media (max-width: 414px) {
    .paginationPage button {
        margin: 0;
        padding: 0;
    }
}