.posts {
    display: grid;
    grid-template-areas:
    "author ."
    "post post"
    "actions .";
    justify-content: left;
    align-items: center;
    grid-gap: 5px;
}

.author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    color: #475156;
    text-decoration: none;
}

.author:hover{
    color: darkgrey;
}

.author img {
    max-width: 40px;
    border-radius: 40px;
}

.name {
    grid-area: name;
}

.post {
    grid-area: post;
}

.actions {
    grid-area: actions;
    display: flex;
    gap: 5px;
    color: darkgrey;
}

.action {
    cursor: pointer;
}