.App {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px 40px;
    grid-template-areas:
            "header header"
            "navbar profile";
    background-color: #FAFAFA;
}

@media (max-width: 360px) {
    .App {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-gap: 10px 10px;
        grid-template-areas:
            "header"
            "profile"
            "navbar";
    }
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.content {
    background-color: white;
    margin-right: 40px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}