.App {
    min-height: 100vh;
    width: 100vw;
    padding: 1em 10em;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
            "header header header"
            "nav content friends";
    background: linear-gradient(0deg, rgba(37,78,184,1) 0%, rgba(29,111,195,1) 100%);
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    color: white;
}

.content {
    grid-area: content;
}

.whiteBlock {
    width: 100%;
    padding: 2em;
    border-radius: 10px;
    background-color: white;
    color: #475156;
}

@media (max-width: 414px){
    .App{
        padding: 1em 0;
        grid-gap: 1em 0;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "header header header"
            "nav content friends";
    }
    .whiteBlock {
        box-sizing: border-box;
        padding: 1em;
    }
}