.App {
    display: grid;
    grid-template-areas:
            "header header"
            "navbar profile";
    grid-template-rows: 2fr 8fr;
    grid-template-columns: 2fr 8fr;
    grid-gap: 10px 10px;


}

.header{
    grid-area: header;
    background-color: linen;
}

.profile{
    grid-area: profile;
    background-color: linen;
}

.navbar{
    grid-area: navbar;
    background-color: linen;
}