.App {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
            "header header header"
            "navbar profileInfo friendsBlock"
            ". newPost ."
            ". posts .";
    background: rgb(37,78,184);
    background: linear-gradient(0deg, rgba(37,78,184,1) 0%, rgba(29,111,195,1) 100%);
    font-family: 'DM Sans', sans-serif;
}

@media (max-width: 360px) {
    .App {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-gap: 10px 10px;
        grid-template-areas:
            "header"
            "profile"
            "navbar";
    }
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.content {
    border-radius: 7px;
    color: #475156;
}