.Profile {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
    grid-template-areas:
    "avatar profileInfo";
}

.avatar{
    grid-area: avatar;
}

.avatar img{
    width: 90%;
}

.profileInfo{
    grid-area: profileInfo
}