.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "dialog message"
    "dialog newMessage";
}

.dialog {
    grid-area: dialog;
}

.message {
    grid-area: message;
}

.newMessage {
    grid-area: newMessage;
}

.boxes {
    background-color: white;
    border-radius: 7px;
    margin: 0px 13px 13px 0px;
    padding: 20px;
}