.dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 3fr auto;
    grid-gap: 16px;
    grid-template-areas:
        "dialog messages"
        "dialog newMessage";
}

.dialog {
    grid-area: dialog;
}

.messages {
    width: 100%;
    grid-area: messages;
    height: 400px;
    overflow: auto;
    border: solid 1px gainsboro;
    border-radius: 5px;
}

.newMessage {
    grid-area: newMessage;
}

@media (max-width: 414px) {
    .dialogs {
        margin-bottom: 4em;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-gap: 1em;
        grid-template-areas:
        "message"
        "newMessage";
    }
    .dialog {
       display: none;
   }
}