.dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 3fr auto;
    grid-gap: 16px;
    grid-template-areas:
        "dialog message"
        "dialog newMessage";
}

.dialog {
    grid-area: dialog;
}

.message {
    grid-area: message;
    padding-bottom: 30px;
}

.newMessage {
    grid-area: newMessage;
}

@media (max-width: 414px) {
    .dialogs {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-gap: 1em;
        grid-template-areas:
        "message"
        "newMessage";
    }
    .dialog {
       display: none;
   }
}