.MyMessageForm {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 16px;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
}

.MyMessageForm textarea {
    border: transparent solid 1px;
    border-radius: 10px;
    background: #F9F9F9;
    opacity: 90%;
    outline: none;
    width: 100%;
    height: 50px;
    resize: none;
    font-size: small;
    padding-left: 16px;
}

.error {
    color: orangered;
    font-weight: bold;
    font-size: small;
}