.form {
    margin: 0 1em 2em 1em;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1em;
    align-items: center;
}

.search {
    border-radius: 20px;
    border: transparent solid 1px;
    width: 100%;
    height: 40px;
    resize: none;
    padding-left: 16px;
    font-size: small;
    background: #F9F9F9;
    opacity: 90%;
}

.select {
    border-color: gainsboro;
    border-radius: 3px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.45);
    height: 33px;
    width: 95px;
    font-size: 12px;
}

@media (max-width: 500px) {
    .form {
        margin: 0;
        gap: 3vw;
    }
    .select {
        height: 30px;
        width: 75px;
    }
    .search {

    }
}