.loginForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 30px;
    align-items: center;
    grid-template-areas:
        "login login"
        "password password"
        "rememberMe button";
}

.login {
    grid-area: login;
}

.password {
    grid-area: password;
}

.rememberMe {
    grid-area: rememberMe;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: left;
}

.rememberMe input {
    width: auto;
}

.button {
    grid-area: button;
    justify-self: right;
}

.errorWarning {

}
