.loginInput {
    margin-bottom: 10px;
}

.warning {
    grid-area: warning;
}

.rememberMe {
    grid-area: rememberMe;
    display: flex;
    align-items: center;
    justify-items: left;
    gap: 1em;
    margin: 1em 0;

}

.buttons {
    display: flex;
    gap: 1em;
}

.captcha {
    display: flex;
    gap: 1em;
}

